@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,400&display=swap');
.hero{
    width: 220px;
}
body{
    background-color: #9eacde !important;
}
.name{
    background: linear-gradient(to right, #c4c9db, #00277C);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Teko', sans-serif;
}
.first_div{
    background-color: #fff;
    
    height: 550px;
    border-radius: 20px;
    padding: 30px;
    
    
}
.hero{
    margin: auto !important;
    display: block;
}
.row{
    background-image: linear-gradient(to right, #6175BA, #00277C);
    padding: 40px;
    border-radius: 20px;
    
    
    
    
    
}
.div_two{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px !important;
    
    
}
.full{
    padding: 10px;
}
.title{
    font-family: 'Teko', sans-serif;
    color: #072C80;
}
.vas{
    font-family: 'Cormorant Garamond', serif;
    font-size: 19px;
    font-weight: 500;
}
@media only screen and (max-width: 768px) {
        .div_two{
            margin-top: 15px !important;
        }
}